@import '../../assets/sass/common';

.react-editor-horizontal-scroll-bar-wrapper {
    position: absolute;
    width: calc(100% - 12px);
    height: 12px;
    left: 0;
    bottom: 0;
    cursor: pointer;
    pointer-events: auto;
    z-index: $scroll-bar-z-index;
    opacity: .5;
    transition: opacity $transition-duration ease-in-out;

    .react-editor-horizontal-scroll-bar {
        height: 12px;
        border-radius: 6px;
        padding: 2px;
        box-sizing: border-box;
        cursor: pointer;

        .react-editor-horizontal-scroll-bar-inner {
            height: 8px;
            border-radius: 6px;
            background: $theme-scroll-bar;
        }
    }

    &:hover {
        opacity: 1;
    }
}