@import '../../assets/sass/common.scss';

.react-editor-text-scroller {

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
    cursor: text;
    padding: 0 18px 0 6px;
    box-sizing: border-box;

}