@import '../../assets/sass/common.scss';

.react-editor-text-input-wrapper {
    font: inherit;

    .react-editor-text-input {
        position: absolute;
        font: inherit;
        background: transparent;
        z-index: -1;
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
        resize: none;
        outline: none;
        overflow: hidden;
        padding: 0;
        width: 0;
        height: 0;
        cursor: none;
        pointer-events: none;
        white-space: nowrap;
    }

    .react-editor-text-display {

        @extend .react-editor-text-input;

        opacity: 1;
        z-index: 1;
        box-sizing: border-box;
        width: auto;
        color: $theme-text;
        border-bottom: 1px dotted $theme-text;
    }
}