@import '../../assets/sass/common.scss';

.react-editor-line-number {
    .react-editor-line-number-item {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: right;
        font-size: 12px;
        color: $theme-line-number;
    }
}