@import '../../assets/sass/common.scss';

.react-editor-active-line {
    position: absolute;
    left: 0;
    background: $theme-active-line-bg;
    min-width: 100%;

    &.react-editor-active-line-empty {
        min-width: 0;
    }
}